*{
  font-family: 'Libre Franklin', sans-serif;
}

body{
  /* Location of the image */
  background-image: url(images/lilac.jpg);

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
  the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;

  padding: 20px;
}

html,body{
  height: 100%;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
    * to improve page load speed on mobile internet connections */
    background-image: url(images/cfcfinal.jpg);
  }
}

.title{
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.9);
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.title h1{
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.title h3{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.sub{
  margin-top: 800px;
  animation: slide-left 10s;
}

.sub p{
  font-size: 30px;
  text-align: left;
  color: #000000;
  padding: 20px;
}

.sub span{
  border-radius: 15px;
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
}

.sub h2{
  font-size: 35px;
}

div.slide-left {
  width:100%;
  overflow:hidden;
  color: white;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

div.slide-right {
  width:100%;
  overflow:hidden;
  color: white;
}

@keyframes slide-right {
  from {
    margin-right: 0%;
    width: 100%;
  }
  to {
    margin-right: 100%;
    width: 100%;
  }
}

.chapters{
  margin-top: 100px;
  margin-bottom: 200px;
}
button{
  text-align: center;
  border: 2px solid black;
  background-color: rgba(255,255,255,0.6);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  width: 250px;
}

button:hover{
  font-weight: bold;
  background-color: rgba(255,255,255,1.0);
  border: 5px solid black;
}
