
*{
  font-family: 'Encode Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

/* HOMEPAGE*/
#index{
  /* Location of the image */
  background-image: url(images/lilac.jpg);
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#FFFFFF;
}

/*MAIN TITLE*/
.main-title{
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgba(255,255,255,1);
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 200px;
  left: 50%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.main-title h1{
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.main-title h3{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

/*MAKE TEXT MOBILE AND DEVICE FRIENDLY*/
@media only screen and (max-width: 992px) {
  .main-title h1{
    font-size:50px;
  }
}

@media only screen and (max-width: 768px) {
  .main-title h1{
    font-size:40px;
  }
}

@media only screen and (max-width: 576px) {
  .main-title h1{
    font-size:30px;
  }
}

@media only screen and (max-width: 992px) {
  .main-title h3{
    font-size:30px;
  }
}

@media only screen and (max-width: 768px) {
  .main-title h3{
    font-size:30px;
  }
}

@media only screen and (max-width: 576px) {
  .main-title h3{
    font-size:20px;
  }
}

/*SCROLLING SUBTITLES*/
@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#sub {
  margin: auto;
  position: relative;
  margin-top: 400px;
}

.slide-right p{
  color: #000000;
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(255,255,255,0.9);
  font-size: 30px;
  text-align: center;
}

#cities{
  opacity: 0;
  animation: 3s slide-right;
  animation-fill-mode: forwards;
}
#corporate{
  opacity: 0;
  animation: 3s slide-right;
  animation-delay: 1s;
  animation-fill-mode: forwards;

}
#but{
  opacity: 0;
  animation: 3s slide-right;
  animation-delay: 2s;
  animation-fill-mode: forwards;

}
#urban{
  opacity: 0;
  animation: 3s slide-right;
  animation-delay: 3s;
  animation-fill-mode: forwards;

}
#unlock{
  opacity: 0;
  animation: 3s slide-right;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.slide-right {
  width: 870px;
  overflow:hidden;
}

#ref{
  margin-top: 120px;
  margin-left: 1700px;
  color: #000000;
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(255,255,255,0.9);
  width: 150px
}

/*MAKE TEXT MOBILE AND DEVICE FRIENDLY*/
@media only screen and (max-width: 992px) {
  #sub{
    margin-top: 350px;
  }
}

@media only screen and (max-width: 768px) {
  #sub{
    margin-top: 400px;
  }
}

@media only screen and (max-width: 576px) {
  #sub{
    margin-top: 350px;
  }
}

@media only screen and (max-width: 992px) {
  .slide-right p{
    font-size:20px;
  }
}

@media only screen and (max-width: 768px) {
  .slide-right p{
    font-size:20px;
  }
}

@media only screen and (max-width: 576px) {
  .slide-right p{
    font-size:20px;
  }
}

@media only screen and (max-width: 992px) {
  .slide-right{
    width: 700px;
  }
}

@media only screen and (max-width: 768px) {
  .slide-right{
    width: 500px;
  }
}

@media only screen and (max-width: 576px) {
  .slide-right{
    width: 300px;
  }
}

@media only screen and (max-width: 992px) {
  #ref{
    margin-left: 600px;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  #ref{
    margin-left: 500px;
  }
}

@media only screen and (max-width: 576px) {
  #ref{
    margin-left: 300px;
  }
}

/*CHAPTER TITLES*/
.chapters{
  margin-top: 100px;
  width:115%;
}

.row h2{
  text-align: center;
  border: 2px solid black;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
}

.row h2{
  font-size: 70px;
  color: black;
}

.row h2:hover{
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.row a:hover{
  text-decoration: none;
}

.mani{
    margin-bottom: 200px;
}

.mani h2{
  font-size: 80px;
  color: black;
  text-align:center;
  border: 2px solid black;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 50px;
  width: 1170.5px;
}

.mani h2:hover{
  font-weight: bold;
}

.mani h2:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.mani a:hover{
  text-decoration: none;
}


/*MAKE BUTTONS MOBILE AND DEVICE FRIENDLY*/
@media only screen and (max-width: 992px) {
  .row h2{
    padding: 15px;
    width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .row h2{
    padding: 15px;
    width: 250px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .row h2{
    padding: 10px;
    width: 150px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .row h2{
    padding: 15px;
    width: 250px;
  }
}

/*MANIFESTO*/
#car-man.container{
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 90%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255,255,255,0.5);
}

#car-man.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #000000;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.manifesto-title h1{
  font-size: 70px;
  font-weight: bold;
  margin-top: 200px;
  padding-bottom: 20px;
}

#manifesto a{
  text-decoration: none;
  color: #000000;
}

#manifesto{
  padding-bottom: 100px;
}

.mani-car{
    width: 100%;
    height: auto;
}

/*GET INVOLVED*/
.involved{
  text-align: left;
}
.involved h1{
  font-size: 70px;
  color: #B1AB4B;
  padding-left: 50px;
}
.involved a:hover{
  text-decoration: none;
}
.involved h1:hover{
  font-weight: bold;
}

/*ABOUT*/
.about{
  text-align: left;
}

.about h1{
  font-size: 70px;
  color: #5A4F33;
  padding-left: 50px;
}

.about a:hover{
  text-decoration: none;
}

.about h1:hover{
  font-weight: bold;
}

/*BUY THE BOOK*/
.book{
  margin-bottom: 300px;
}

.book h1{
  font-size: 70px;
  color: #87A094;
  text-align: left;
  padding-left: 50px;
}

.book a:hover{
  text-decoration: none;
}

.book h1:hover{
  font-weight: bold;
}

.book-cover{
  position: absolute;
  width: 400px;
  right: 385px;
}


/*CHAPTER PAGES*/

.un-title{
  width: 20%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 8%;
  left: 89%;
  padding: 10px;
  resize: both;
  overflow: auto;
  z-index: 1;
}

.emptydiv{
  height: 1000px;
  width: 100%;
}

/*BIO CITY & CAR FREE PAGES */
.left-pic{
  width: 45%;
  height: 800px;
  left: 50px;
  position: absolute;
  top: 150px;
}

.left-title{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 200px;
  left: 74.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.left-title h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.left-text{
  width: 45%;
  position: absolute;
  top: 300px;
  right: 40px;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.left-text p{
  font-size: 20px;
  color: #000000;
}

#bio-mani.row h2{
  text-align: center;
  border: 2px solid black;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
  font-size: 30px;
  color: black;
}

#bio-mani.row h2:hover{
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#bio-mani.row a:hover{
  text-decoration: none;
}

#bio-mani.row{
  width: 50%;
  margin-left: 140px;
  padding-top: 30px;
}

/*POST CARBON AND COMMON CITY PAGES */
.right-pic{
  width: 45%;
  height: 800px;
  right: 50px;
  position: absolute;
  top: 150px;
}

.right-title{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 200px;
  left: 25.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.right-title h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.right-text{
  width: 45%;
  position: absolute;
  top: 300px;
  left: 40px;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.right-text p{
  font-size: 20px;
  color: #000000;
}

/* CONTACT */

.get-in-touch1 h1{
  font-size: 70px;
  font-weight: bold;
  margin-top: 200px;
  padding-bottom: 20px;
}

.contact-form p {
  padding-top: 20px;
  font-size: 25px;
}

.contact {
  padding: 50px 0 80px;
}

.input-group {
  margin-bottom: 25px;
  width: 100%;
}

.contact .form-control {
  border-radius: 0 !important;
}
.contact span {
  border-radius: 0 !important;
}

.contact .btn {
  border-radius: 0;
  width: 100%;
  font-size: 30px;
  background-color: grey;
  color: white;
}

#chapter{
  width: 100%;
  font-size: 25px;
}

#description{
  font-size: 18px;
}

/* ABOUT PAGE*/

.about-paul h1{
  font-size: 70px;
  font-weight: bold;
  margin-top: 200px;
  padding-bottom: 20px;
}

.about-paul p{
  font-size: 25px;
  line-height: 1.6;
  width: 60%;
}

.aboutdiv{
  height: 200px;
  width: 100%;
}

.paul{
  position: absolute;
  width: 400px;
  right: 385px;
}

/* FOOTER */

.footer {
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #E8E8E8;
  color: black;
  height: 200px;
}

.footer a{
  font-size: 20px;
  color: black;
}

.footer p{
  font-size: 15px;
}

.footer h3{
  font-size: 20px;
}

.foot-left {
  margin-left: 30px;
  text-align: left;
  padding-top: 20px;
}

.foot-left p{
  padding-top: 15px;
}

.foot-right {
  margin-right: 30px;
  text-align: right;
  padding-top: 20px;
}
