*{
  font-family: 'Encode Sans Condensed', sans-serif;
}

html,body{
  height: 100%;
}

/* HOMEPAGE*/
#index{
  /* Location of the image */
  background-image: url(images/lilac.jpg);
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#FFFFFF;
}

/*MAIN TITLE*/
.main-title{
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.9);
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.main-title h1{
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.main-title h3{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

/*SCROLLING SUBTITLES*/
.sub{
  margin-top: 110%;
}

.sub p{
  font-size: 35px;
  text-align: left;
  color: #000000;
  padding: 40px;
}

.sub #something{
  text-align: center;
  font-weight: bold;
  color: #000000;
  padding: 60px;
}

.sub #urban{
  text-align: right;
  color: #000000;
  padding: 60px;
}

.sub span{
  border-radius: 15px;
  padding: 10px;
}

/*MAKE TEXT MOBILE AND DEVICE FRIENDLY*/
@media only screen and (max-width: 768px) {
  .sub p{
    font-size: 10px;
  }
}

/*CHAPTER TITLES*/
.chapters{
  margin-top: 130px;
  margin-bottom: 200px;
  width:115%;
}

#common-button{
  margin-top: 50px;
}

#bio-button{
  margin-top: 50px;
}

.row button{
  text-align: center;
  border: 2px solid black;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
}

.row button h2{
  font-size: 70px;
  color: black;
}

.row h2:hover{
  font-weight: bold;
}

.row button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*MAKE BUTTONS MOBILE AND DEVICE FRIENDLY*/
@media only screen and (max-width: 768px) {
  .row button{
    width: 250px;
  }
}

@media only screen and (max-width: 576px) {
  .row button{
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .row button h2{
    font-size: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .row button h2{
    font-size: 20px;
  }
}

/*GET INVOLVED*/
.involved{
  text-align: left;
}
.involved h1{
  font-size: 70px;
  color: #B1AB4B;
}
.involved a{
  text-decoration: none;
}
.involved h1:hover{
  font-weight: bold;
}

/*ABOUT*/
.about{
  text-align: left;
}

.about h1{
  font-size: 70px;
  color: #5A4F33;
}

.about a{
  text-decoration: none;
}

.about h1:hover{
  font-weight: bold;
}

/*BUY THE BOOK*/
.book{
  margin-bottom: 200px;
}

.book h1{
  font-size: 70px;
  color: #87A094;
  text-align: left;
}

.book a{
  text-decoration: none;
}

.book h1:hover{
  font-weight: bold;
}

.book-cover{
  position: absolute;
  width: 400px;
  right: 20%;
}

/*CAR FREE CITY PAGE */
#car-free{

  width:100%;
  height:100%;
  /* Location of the image */
  background-image: url(images/cfcfinal.jpg);

  /* Image is centered vertically and horizontally at all times */
  background-position: left;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
  the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: 50% 100%;

}

.un-title{
  width: 17%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 5%;
  left: 92%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.car-free-title{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 15%;
  left: 74.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.car-free-title h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.car-free-text{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
  left: 74.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.car-free-text p{
  font-size: 20px;
  color: #000000;
}

/*POST CARBON CITY PAGE */
#post-carbon{
  /* Location of the image */
  background-image: url(images/PCP.jpg);

  /* Image is centered right at all times */
  background-position: right;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
  the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: 50% 100%;

  /* Pick a solid background color that will be displayed while the background image is loading */
  /*background-color:#FFFFFF;*/

  padding: 20px;
}

.post-carbon-title{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 15%;
  left: 25.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.post-carbon-title h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.post-carbon-text{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 60%;
  left: 25.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.post-carbon-text p{
  font-size: 20px;
  color: #000000;
}

/*BIO CITY PAGE */
#bio-city{
  /* Location of the image */
  background-image: url(images/bio.jpg);

  /* Image is centered right at all times */
  background-position: left;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
  the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: 50% 100%;

  /* Pick a solid background color that will be displayed while the background image is loading */
  /*background-color:#FFFFFF;*/

  padding: 20px;
}

.bio-city-title{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 15%;
  left: 74.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.bio-city-title h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.bio-city-text{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 74.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.bio-city-text p{
  font-size: 20px;
  color: #000000;
}

/*COMMON CITY PAGE */
#common-city{
  /* Location of the image */
  background-image: url(images/common.jpg);

  /* Image is centered right at all times */
  background-position: right;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
  the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: 50% 100%;

  padding: 20px;
}

.common-city-title{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 15%;
  left: 25.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.common-city-title h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.common-city-text{
  width: 45%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 60%;
  left: 25.5%;
  padding: 10px;
  resize: both;
  overflow: auto;
}

.common-city-text p{
  font-size: 20px;
  color: #000000;
}

/* CONTACT */

.get-in-touch h1{
  font-size: 80px;
  font-weight: bold;
  margin-top: 100px;
}

.contact-form p {
  padding-top: 20px;
  font-size: 25px;
}

.contact {
  padding: 50px 0 80px;
}

.input-group {
  margin-bottom: 25px;
  width: 100%;
}

/*.input-group label{
margin-bottom: 25px;
width: 100%;
font-size: 25px;
}*/

.contact .form-control {
  border-radius: 0 !important;
}
.contact span {
  border-radius: 0 !important;
}

.contact .btn {
  border-radius: 0;
  width: 100%;
  font-size: 30px;
  background-color: grey;
  color: white;
}

#chapter{
  width: 100%;
  font-size: 25px;
}

#description{
  font-size: 18px;
}

/* FOOTER */

.footer {
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #E8E8E8;
  color: black;
  height: 200px;
  margin-top: 60px;
}

.footer a{
  font-size: 20px;
  color: black;
}

.footer p{
  font-size: 15px;
}

.footer h3{
  font-size: 20px;
}

.foot-left {
  margin-left: 30px;
  text-align: left;
  padding-top: 20px;
}

.foot-left p{
  padding-top: 15px;
}

.foot-right {
  margin-right: 30px;
  text-align: right;
  padding-top: 20px;
}
